@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";

.search-btn {
    border-radius: 100px;
}

label {
    font-size: 13px;
}

.homeBanner {
    margin-top: 10px;
    width: 90vw;
    box-shadow: 5px 5px 5px #e1ded8;
}

.category-btn {
    width: 20vw;
    margin-top: 20px;
}

.warning {
    font-size: 11px;
    color: var(--text);
}

hr {
    color: var(--text);
}