@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";


/* 
.title {
    font-family: Agbalumo;
    font-size: 70px;
    margin-bottom: 15px;
    text-align: center;
} */

.container-register {
    margin-left: 40px;
    margin-right: 40px;
}

.footer-list {
    list-style: none;
    /* text-align: center; */
}

.fa-brands {
    font-size: 30px;
    color: var(--text);
}

.search-btn {
    border-radius: 100px;
}

label {
    font-size: 13px;
}

.homeBanner {
    margin-top: 10px;
    /* margin-right: 35px; */
    /* margin-left: 35px; */
    width: 90vw;
    box-shadow: 5px 5px 5px #e1ded8;
}


.category-btn {
    width: 20vw;
    margin-top: 20px;
}

.categoriesBtns {
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.wines {
    width: 22vw;
}

.warning {
    font-size: 11px;
    color: var(--text);
}

hr {
    color: var(--text);
}