.products-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    margin-left: 50px;
}

.pageTitle {
    font-family: var(--title-font);
    color: var(--text);
    text-align: center;
    margin-top: 15px;
    font-size: 3rem;
}

.products-card-body {
    width: 235px;
    display: flex;
    flex-direction: column;
    font-family: var(--text-font);
    flex: 1;
}

.filter,
.view {
    color: var(--text);
}

.view-change {
    position: absolute;
    left: 15px;

}

.filter:hover,
.sort:hover,
.view:hover {
    color: var(--card-border);
}

.card-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card .product-img {
    filter: var(--product-shadow);
    transition: transform 0.4s ease-in-out;
}

.cart-product-btn {
    color: var(--text);
    background-color: var(--button);
    border-color: var(--button);
    font-family: var(--text-font);
}

.products-addToCart-container {
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
    align-items: center;
}

.table-btn {
    color: var(--text);
    border: none;
}

.table-btn:hover,
.table-btn:active,
.table-btn:focus {
    text-shadow: var(--text-shadow);
    border: none;
}

.table-container {
    min-width: fit-content;
    margin-top: 15px;
    margin-right: 10px;
}

.addToCart-btn-admin:disabled {
    background: var(--disabled-button);
}

.addToFavorites:disabled {
    border: 0;
    color: var(--disabled-button);
}