.navbar {
    background-color: var(--nav-background);
    box-shadow: 5px 5px 5px #bab7ab;
}

.logo {
    height: 60px;
}

.navbar-brand {
    font-size: 3rem;
    color: var(--text);
    font-family: 'Carattere';
    letter-spacing: 1px;
    margin-top: 3px;
}

.navbar-brand:hover {
    color: var(--dropdown-hover);
}

.darkModeButton {
    cursor: pointer;
    color: var(--darkMode);
}

.navbar-nav a.nav-link {
    color: var(--text);
    font-family: var(--text-font);
    font-weight: bold;
    font-size: 1.1rem;
}

.dropdown-menu {
    box-shadow: var(--dropdown-shadow) !important;
    border: none;
    font-family: var(--text-font);
    padding: 0.9em;
    background-color: var(--dropdown)
}

@media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }

    .dropdown-menu.show {
        display: flex;
    }
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu li .dropdown-item {
    color: var(--text);
    font-size: 1em;
    padding: 0.5em 1em;
}

.dropdown-menu li .dropdown-item:hover {
    background-color: var(--dropdown-hover);
}

.dropdown-menu li:first-child Link {
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    color: var(--text);
}

.manager-page {
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .dropdown-menu.show {
        flex-wrap: wrap;
        max-height: 350px;
        overflow-y: scroll;
    }

    .manager-page {
        text-align: left;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
    .dropdown:hover .dropdown-menu {
        width: 40vw;
        flex-wrap: wrap;
    }
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    padding: 0.5em;
    box-shadow: var(--dropdown-shadow);
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu li .dropdown-item {
    color: var(--text);
    padding: 0.5em 1em;
}

.dropdown-menu li:first-child a {
    font-weight: bold;
    font-family: var(--small-title);
    font-size: 1.1em;
    color: var(--text);
}

@media screen and (min-width: 993px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
        color: var(--text);
    }

    .dropdown-menu.show {
        display: flex;
    }
}

@media screen and (max-width: 992px) {
    .dropdown-menu.show {
        max-height: 60vh;
        overflow-y: scroll;
    }
}

.dropdown-toggle {
    cursor: context-menu;
}

.shopping-cart-btn {
    position: relative;
    color: var(--text);
}

.shopping-cart-btn:hover {
    color: var(--dropdown-hover);
}

.fa-user,
.fa-magnifying-glass,
.logout {
    color: var(--text);
}

.logout:hover {
    color: var(--dropdown-hover);
}

.items-counter {
    color: var(--text);
    background: rgba(255, 0, 0, 0.527);
    font-size: 0.7rem;
    width: 0.7rem;
    height: 1rem;
    top: -32px;
    right: -12px;
    border-radius: 50%;
}


@media (max-width:991px) {
    .search-bar-locator {
        margin-left: auto;
    }
}

.navbar-toggler {
    border: transparent;
}