.img-404 {
    filter: drop-shadow(16px 7px 8px #302f5d)
}

.text-404 {
    text-align: justify;
    line-height: 2;
    font-family: var(--text-font);
    color: var(--text);
}

.notFound-btn {
    color: var(--text);
    background-color: var(--button);
    border-color: var(--button);
    font-family: var(--text-font);
}

.notFound-btn:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
    color: var(--text);
}

.notFound-btn:focus,
.notFound-btn:active {
    outline: none;
    // box-shadow: none;
    background-color: var(--button-hover) !important;
    border-color: var(--button-hover) !important;
    color: var(--text);
}

.text-404-container,
.btn-404-container {
    display: flex;
    justify-content: center;
}