.paging-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paging-container .pagination .page-link {
    color: var(--text);
    background-color: var(--paging-background);
}

.paging-container .pagination .page-item.active .page-link {
    background-color: var(--paging-active);
    border-color: gainsboro;
    color: var(--text);

}