:root {
    --background-color: rgb(252, 252, 233);
    --modal-background: #f2f2f2;
    --card-background: #fff;
    --form-control: #fff;
    /* --background-image: url(/public/images/lightBg.jpg); */
    --text: #020202;
    --paging-background: var(--white);
    --paging-active: #ffc0cb;
    --button: #f9c2c2;
    --disabled-button: #efd4d4;
    --button-hover: #fc92a2;
    --guest-btn: #e2b1df;
    --guest-btn-hover: #922e8b;
    --link-hover: #626262;
    --error-message-background: #ffffff96;
    --errorMsg: #ca2311;
    --tabs: rgb(161, 15, 139);
    --cards-shadow: 5px 5px 7px #77344d;
    --card-border: #77344d;
    --product-shadow: drop-shadow(8px 7px 8px #77344d);
    // --orange: #ff8d06;
    // --yellow: #f8aa1d;
    // --blue: #000072;
    // --light-purple: #b199c5;
    // --dark-purple: #3c0b64;
    // --pink: #ff67a0;
    // --redish: #e74a63;
    --white: #ffffff;
    --black: #000000;
    --title-font: "agbalumo";
    --small-title: "salsa";
    --text-font: "roboto condensed";
}

.dark {
    --background-color: #171717;
    --modal-background: #363636;
    --card-background: #101720;
    --form-control: #646464;
    /* --background-image: url(/public/images/darkBg.jpg); */
    --error-message-background: transparent;
    --text: #f2f2f2;
    --paging-background: #020202;
    --paging-active: #e74a63;
    --button: rgb(161, 15, 24);
    --button-hover: rgb(224, 28, 41);
    --guest-btn: rgb(161, 15, 139);
    --guest-btn-hover: #4a0446;
    --errorMsg: #ca2311;
    --disabled-button: #9b05058c;
    --tabs: #e2b1df;
    --cards-shadow: 5px 5px 8px #f1c0d2;
    --card-border: #f1c0d2;
    --product-shadow: drop-shadow(8px 7px 8px #f1c0d2);
    // --link-hover: #afafaf;
    // --orange: #ff8d06;
    // --yellow: #f8aa1d;
    // --blue: #000072;
    // --light-purple: #b199c5;
    // --dark-purple: #3c0b64;
    // --pink: #ff67a0;
    // --redish: #e74a63;
    --white: #ffffff;
    --black: #000000;
    --title-font: "agbalumo";
    --small-title: "salsa";
    --text-font: "roboto condensed";

}

.App {
    background: var(--background-color);

    /* background-image: var(--background-image); */

}